html, body, main {
    width: 100%;
    height: 95%;
}

* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
}

h1, header {
    margin: 20px auto;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#game-field {
    width: 100%;
    /*aspect-ratio: 4/1; to maybe add for responsive design*/
    height: 90%;
    border: 5px solid gray;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 2px);
    grid-template-rows: repeat(auto-fill, 2px);
}