html {
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    width: 90%;
    /*border: 1px solid red;*/
    margin: 0 auto;
}

h1, header {
    margin: 20px auto;
    text-align: center;
}



