html, body{
    width: 100%;
    height: 95%;
    border: red solid 1px;
    /*max-width: 767px;
    margin: 0 auto;*/
}

* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
}

h1, header {
    margin: 20px auto;
    text-align: center;
}

main {
    border: red solid 1px;
     
}

.buttons {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 690px;
}

#game-field {
    width: 690px;/*change to vw and take away the sttings of body html...*/
    /*aspect-ratio: 4/1; to maybe add for responsive design*/
    height: 450px;
    border: 5px solid gray;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#game-field div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10px;
  width: 10px;
}

.food {
    background-color: green;
}

.snake {
    background-color: red;
}