html, body{
    width: 100%;
    height: 95%;
}

* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
}

h1, header {
    margin: 20px auto;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0;
    margin-right: 50%;
    margin-left: 0;
    padding: 0;
}

#reset, #strt-stp{
    padding: 20px;
    border-radius: 5px;
}

.flex-container {
    position: relative;
}

#message {
    text-align: left;
    line-height: 1.5;
    font-size: 1.2em;
    position: absolute;
    right: 10px;
    top: 0;
    padding: 25px;
    border: gray solid;
    border-radius: 25px;
    background-color: rgba(231, 223, 223, 0.815);
    width: 250px;
}

#game-field {
    width: 690px;/*change to vw and take away the sttings of body html...*/
    /*aspect-ratio: 4/1; to maybe add for responsive design*/
    height: 450px;
    border: 7px solid black;
    margin: 20px auto 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 215, 108);

}

#game-field div {
  /*border: 1px solid lightgrey;*/
  flex-grow: 1;
  height: 10px;
  width: 10px;
}

.food {
    background-color: rgb(2, 83, 2);
    border-radius: 50%;
}

.snake {
    background-color: rgb(245, 54, 54);
}