html, body, main {
    width: 100%;
    height: 95%;
}

* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
}

h1, header {
    margin: 20px auto;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#game-field {
    width: 690px;/*change to vw and take away the sttings of body html...*/
    /*aspect-ratio: 4/1; to maybe add for responsive design*/
    height: 531px;
    border: 5px solid gray;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#game-field div {
  border: 1px solid lightgrey;
  /*flex-grow: 1;*/
  height: 10px;
  width: 10px;
}

.snake {
    background-color: red;
}

.food {
    background-color: green;
}